body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

#root {
  // background-image: url("assets/spiderman.jpg");
  background-position: center;
  border-style: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

code {
  font-family: "Montserrat", sans-serif;
}
